@import './standard';

.app {
  width: 100vw;
  height: 100vh;
}

.app-container {
  position: relative;
  display: grid;
  grid-template-areas: 'app-container__main';
  grid-template-rows: calc(100vh);
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
  min-width: 1200px;

  .app-container__header {
    grid-area: app-container__header;
    background-color: #438eb9;
  }

  .app-container__tabs {
    grid-area: app-container__tabs;
    background-color: #eff3f8;
  }

  .app-container__main {
    grid-area: app-container__main;
    transition: margin-left 0.5s ease;
    overflow: hidden; /** 防止触发app.vue纵向滚动条 */
  }
}

.page-container {
  box-sizing: border-box;
  height: calc(100vh);
  padding: 3px 15px 0;
  display: flex;
  flex-direction: column;

  .page-container__control {
    margin: 0 0 10px;
    border-radius: 4px;
    padding: 10px;
    background: rgb(238 238 238);
    border: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
  }

  .page-container__content {
    flex: 1;
    height: 0;
    display: flex;
    flex-direction: column;

    .page-container__content__table {
      flex: 1;
      width: 100%;
      height: 0;

      /* 滚动条整体部分 */
      .mytable-scrollbar ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

      /* 滚动条的轨道 */
      .mytable-scrollbar ::-webkit-scrollbar-track {
        background-color: #fff;
      }

      /* 滚动条里面的小方块，能向上向下移动 */
      .mytable-scrollbar ::-webkit-scrollbar-thumb {
        background-color: #bfbfbf;
        border-radius: 5px;
        border: 1px solid #f1f1f1;
        box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
      }

      .mytable-scrollbar ::-webkit-scrollbar-thumb:hover {
        background-color: #a8a8a8;
      }

      .mytable-scrollbar ::-webkit-scrollbar-thumb:active {
        background-color: #787878;
      }

      /* 边角，即两个滚动条的交汇处 */
      .mytable-scrollbar ::-webkit-scrollbar-corner {
        background-color: #fff;
      }
    }

    .page-container__content__pagination {
      margin-bottom: 10px;
      background: rgb(238 238 238);
    }
  }
}

.text-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
